body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #ffc5e2;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #ffc5e2;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background-color: #ff96ca;
}

section {
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #ffc5e2;
  color: white;
  bottom: 0;
  width: 100%;
}

h1 {
  color: white;
}

.btn {
  background-color: #ff96ca;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.btn:hover {
  background-color: #ff6cb5;
}
